body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  height: 13vh;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 8px orangered;
}

/* Estilos da NavBar */
#logo_box {
  width: 40%;
}
#navbar_box {
  width: 60%;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 20px;
  list-style: none;
  text-transform: uppercase;
}
nav ul > * {
  padding: 40px;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Estilos dos produtos */
.product {
  background-color: rgb(206, 206, 206);
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.product img{
  max-width: 25%;
}

#img-more-white{
  max-width: 30%;
  
}

.buy-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Estilos do rodapé */
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: white;
  box-shadow: 1px 2px 8px orangered;
}