body {
  font-family: Arial, sans-serif;
  background-color: #585858;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: rgb(113, 111, 111);
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(215, 0, 0, 0.2);
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.login-form {
  text-align: center;
}

 input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

input::placeholder {
  color: #000000;
}

button {
  --c: #000000; /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: rgb(255, 255, 255);
}

button {
  position: relative;
  left: 105px;
  font-family: system-ui, sans-serif;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  color: #ccc;
  border-radius: 7%;
  text-transform: uppercase;
}
